.shape.bg-line.leaf.rounded-circle.rellax.w-17.h-17 {
  top: -2rem; 
  right: -0.3rem;
}
.shape.bg-pale-violet.rounded-circle.rellax.w-17.h-17 {
  bottom: -2rem;
  left: -0.4rem;
}

.badge-lg.bg-primary.gradient.rounded-pill.m-1 {
  color: white;
}