<div class="container">
  <div class="row pt-10 gx-lg-8 gx-xl-12 gy-10 mb-7 mb-md-7 align-items-center" 
    [ngClass]="{ 'flex-row-reverse': !data.imageOnLeftSide }">
    <div class="col-lg-6 position-relative d-flex flex-column">
      <figure class="rounded mb-0">
        <img *ngIf="data.projectImage" [src]="data.projectImage.fields.file?.url" [alt]="data.projectImage.fields.file?.fileName">
      </figure>
      <div class="d-flex justify-content-center pt-5" *ngIf="data.learnMore">
        <span>
          <app-link
            [title]="data.learnMore.fields.title"
            [href]="data.learnMore.fields.href"
            [targetBlank]="data.learnMore.fields.targetBlank"
            [external]="data.learnMore.fields.external"
            [i18n]="!data.learnMore.fields.external"
            [rel]="data.learnMore.fields.rel"
            className="btn btn-lg btn-primary rounded-pill mx-1">
          </app-link>
        </span>
      </div>
    </div>
    <!--/column -->
    <div class="col-lg-6">
      <h3 class="display-4 mb-4">
        {{ data.title }}
      </h3>
      <h4 class="mb-1">
        {{ data.needsTitle }}
      </h4>
      <p class="mb-5">
        {{ data.needsText }}
      </p>
      <div class="row gy-3">
        <div class="col-xl-6">
          <h4 class="mb-1">
            {{ data.deedsTitle }}
          </h4>
          <p class="mb-5">
            {{ data.deedsText }}
          </p>
        </div>
        <!--/column -->
        <div class="col-xl-6">
          <h4 class="mb-1">
            {{ data.resultTitle }}
          </h4>
          <p class="mb-5">
            {{ data.resultText }}
          </p>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <h4 class="mb-3">
        {{ data.badgesTitle }}
      </h4>
      <div class="d-flex gap-1 flex-wrap">
        <ng-container *ngFor="let badge of data?.badges">
          <span class="badge-lg bg-primary gradient rounded-pill text-white">
            {{ badge }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>