<div class="container pt-10 pb-md-17">
  <div class="row gx-lg-8 gx-xl-12 gy-10 d-flex align-items-center justify-content-center" 
    [ngClass]="{'flex-row-reverse': !imageOnLeftSide}">
    <ng-content></ng-content>
    <!--/column -->
    <div class="col-lg-6">
      <h2 class="mb-3">
        {{ data.title }}
      </h2>
      <p>
        {{ data.description }}
      </p>
      <ng-container *ngFor="let checkitem of data?.checklist">
        <ul class="icon-list bullet-bg bullet-soft-fuchsia">
          <li>
            <i class="uil uil-check">
            </i>
            {{ checkitem }}
          </li>
        </ul>
      </ng-container>
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
</div>
