<!-- /section -->
<section class="wrapper bg-light">
  <div class="container pb-15 pb-md-17">
    <div class="row mb-3">
      <div class="col-md-10 col-xl-9 col-xxl-7 mx-auto text-center">
        <img [src]="getIconPath(data.icon)" class="icon-svg icon-svg-sm mb-3 " [alt]="data.title"/>
        <h2 class="display-4 mb-3 px-lg-14">
          {{ data.title }}
        </h2>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="position-relative">
      <div class="shape rounded-circle bg-soft-yellow rellax w-16 h-16" data-rellax-speed="1">
      </div>
      <div class="shape rounded-circle bg-line red rellax w-16 h-16" data-rellax-speed="1">
      </div>
      <div class="swiper-container dots-closer mb-6" data-margin="0" data-dots="true" data-items-xxl="3"
        data-items-lg="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let card of data?.clientCards">
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="mb-1">
                        {{ card.fields.clientName }}
                      </h4>
                      <div class="meta mb-2">
                        {{ card.fields.position }}
                      </div>
                      <p class="mb-2">
                        {{ card.fields.description }}
                      </p>
                      <ng-container *ngFor="let socialMedia of card.fields.socialMedia">
                        <nav class="nav social mb-0">
                          <a rel="nofollow" [href]="socialMedia.fields.href" target="_blank">
                            <i class="uil uil-{{ socialMedia.fields.title }}">
                            </i>
                          </a>
                        </nav>
                      </ng-container>
                      <!-- /.social -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
            </ng-container>
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.position-relative -->
  </div>
  <!-- /.container -->
</section>