<header class="wrapper bg-soft-primary">
  <nav class="navbar navbar-expand-lg center-logo transparent position-absolute navbar-dark">
    <div class="container flex-lg-row flex-nowrap align-items-center">
      <div class="navbar-brand w-100">
        <app-link 
          [href]="routesEnum.Home"
          [targetBlank]="false"
          [external]="false">
          <div class="col-lg-4 col-md-3 col-5">
            <img class="header-logo w-100" [src]="data.navbarLogo?.fields?.logo?.fields?.file?.url" [srcset]="data.navbarLogo?.fields?.logoX2?.fields?.file?.url + ' 2x'" [alt]="data.navbarLogo?.fields?.description"/>
          </div>
        </app-link>
        
      </div>
      <div class="collapse navbar-collapse w-100 justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item pe-5" *ngFor="let item of data.links">
            <app-link 
              [title]="item.fields.title"
              [href]="item.fields.href"
              [targetBlank]="item.fields.targetBlank"
              [external]="item.fields.external"
              [rel]="item.fields.rel"
              className="nav-link">
            </app-link>
          </li>
        </ul>
      </div>
      <div class="offcanvas offcanvas-nav offcanvas-end d-lg-none">
        <div class="offcanvas-header">
          <app-link 
            [href]="routesEnum.Home"
            [targetBlank]="false"
            [external]="false">
            <img [src]="data.navbarLogo?.fields?.logoLight?.fields?.file?.url" [srcset]="data.navbarLogo?.fields?.logoLightX2?.fields?.file?.url + ' 2x'" [alt]="data.navbarLogo?.fields?.description"/>
          </app-link>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let item of data.links">
              <app-link 
                [title]="item.fields.title"
                [href]="item.fields.href"
                [targetBlank]="item.fields.targetBlank"
                [external]="item.fields.external"
                [rel]="item.fields.rel"
                className="nav-link py-2">
              </app-link>
            </li>
            <li class="nav-item" *ngIf="data.contactLink">
              <app-link 
                [title]="data.contactLink.fields.title"
                [href]="data.contactLink.fields.href"
                [targetBlank]="data.contactLink.fields.targetBlank"
                [external]="data.contactLink.fields.external"
                [rel]="data.contactLink.fields.rel"
                className="nav-link py-2">
              </app-link>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navbar-collapse -->
      <div class="navbar-other d-flex ms-auto">
        <ul class="navbar-nav flex-row align-items-center ms-auto">
          <li class="nav-item dropdown language-select text-uppercase pe-5">
            <button class="nav-link dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ activeLang | uppercase }}
            </button>
            <ul class="dropdown-menu">
              <li class="nav-item" *ngFor="let availableLang of availableLangs">
                <button class="dropdown-item" (click)="setActiveLang(availableLang)">
                  {{ availableLang | uppercase }}
                </button>
              </li>
            </ul>
          </li>
          <div class="collapse navbar-collapse">
            <li class="nav-item d-none d-md-block" *ngIf="data.contactLink">
              <app-link 
                [title]="data.contactLink.fields.title"
                [href]="data.contactLink.fields.href"
                [targetBlank]="data.contactLink.fields.targetBlank"
                [external]="data.contactLink.fields.external"
                [rel]="data.contactLink.fields.rel"
                className="btn btn-sm btn-primary rounded-pill">
              </app-link>
            </li>
          </div>
          <li class="nav-item d-lg-none">
            <button class="hamburger offcanvas-nav-btn"><span></span></button>
          </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
</header>
