<section class="wrapper gradient bg-overlay bg-overlay-300">
  <div class="container pt-17 pb-19 pt-md-18 pb-md-17 text-center">
    <div class="row">
      <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
        <h1 *ngIf="data?.title" class="display-1 text-white fs-60 mb-4 px-md-15 px-lg-0">
          {{ data.title }}
        </h1>
        <p *ngIf="data?.description" class="lead fs-24 text-white lh-sm mb-7 mx-md-13 mx-lg-10">
          {{ data.description }}
        </p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overflow-hidden">
    <div class="divider text-light mx-n2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
        <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
      </svg>
    </div>
  </div>
</section>
