<footer class="bg-white">
  <div class="container pt-8 pt-md-10 pb-7">
    <div class="row gx-lg-0 gy-6">
      <div class="col-lg-4">
        <div class="widget">
          <ng-container *ngIf="data.logo">
            <img class="mb-4" [src]="data.logo.fields.logo.fields.file?.url" [srcset]="data.logo.fields.logoX2.fields.file?.url" [alt]="data.logo.fields.description"/>
          </ng-container>
          <p class="lead mb-0">
            {{ data.subtitle }}
          </p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-lg-2 offset-lg-2">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> 
                <i class="uil uil-suitcase-alt">
                </i> 
              </div>
            </div>
            <div>
              <h5 class="mb-1">
                {{ data.legalPagesTitle }}
              </h5>
              <ul class="list-unstyled  mb-0">
                <ng-container *ngFor="let legalPage of data?.legalPages">
                  <li>
                    <a [routerLink]="legalPage.fields.slug">
                      {{ legalPage.fields.title }}
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> 
                <i class="uil uil-phone-volume">
                </i> 
              </div>
            </div>
            <div>
              <h5 class="mb-1">
                {{ data.phoneTitle }}
              </h5>
              <ng-container *ngFor="let phone of data?.phoneNumbers">
                <p class="mb-0">
                  {{ phone }}
                  <br/>
                </p>
              </ng-container>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-lg-2">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> 
                <i class="uil uil-location-pin-alt">
                </i> 
              </div>
            </div>
            <div class="align-self-start justify-content-start">
              <h5 class="mb-1">
                {{ data.addressTitle }}
              </h5>
              <address>
                {{ data.address }}
              </address>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <hr class="mt-9 mt-md-10 mb-4"/>
    <div class="d-md-flex align-items-center justify-content-between">
      <p class="mb-2 mb-lg-0">
        {{ data.rights }}
      </p>
      <nav class="nav social social-muted mb-0 text-md-end">
        <ng-container *ngFor="let socialmedia of data?.socialmedia">
          <a rel="nofollow" [href]="socialmedia.fields.href" target="_blank">
            <i [class]="getSocialMediaClass(socialmedia.fields.title)">
            </i>
          </a>
        </ng-container>
      </nav>
      <!-- /.social -->
    </div>
  </div>
  <!-- /.container -->
</footer>
