<ng-container *ngIf="posts$ | async as posts">
  <section *ngIf="posts.length > 0" class="wrapper bg-light">
    <div class="container pb-15 pb-md-17">
      <h2 class="display-4 mb-3 text-center">
        {{ data.title }}
      </h2>
      <p class="lead fs-lg mb-10 text-center px-md-16 px-lg-21 px-xl-0">
        {{ data.subTitle }}
      </p>
      <div class="swiper-container nav-bottom nav-color blog grid-view mb-6" data-margin="30" data-dots="false" data-nav="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let post of posts">
              <div class="swiper-slide">
                <article>
                  <figure class="overlay overlay-1 hover-scale rounded mb-5">
                    <app-link
                      [href]="post.link[0]"
                      [targetBlank]="true"
                      [external]="true"
                      rel="noopener noreferrer">
                      <img [src]="post.thumbnail" [alt]="post.title"/>
                    </app-link>
                    <figcaption>
                      <h5 class="from-top mb-0">
                        {{ data.imageHover }}
                      </h5>
                    </figcaption>
                  </figure>
                  <div class="post-header">
                    <div class="post-category text-line">
                      <div class="d-flex gap-1 flex-wrap">
                        <ng-container *ngFor="let category of post.categories">
                          <span class="badge bg-primary gradient rounded-pill text-white">
                            {{ category }}
                          </span>
                        </ng-container>
                      </div>
                    </div>
                    <!-- /.post-category -->
                    <h2 class="post-title h3 mt-1 mb-3">
                      <app-link
                        [title]="post.title"
                        [href]="post.link[0]"
                        [targetBlank]="true"
                        [external]="true"
                        class="link-dark"
                        rel="noopener noreferrer">
                      </app-link>
                    </h2>
                  </div>
                  <!-- /.post-header -->
                  <div class="post-footer">
                    <ul class="post-meta">
                      <li class="post-date">
                        <i class="uil uil-calendar-alt">
                        </i>
                        <span>
                          {{ post.pubDate | date:'dd/MM/yyyy' }}
                        </span>
                      </li>
                    </ul>
                    <!-- /.post-meta -->
                  </div>
                  <!-- /.post-footer -->
                </article>
              </div>
              <!-- /article -->
            </ng-container>
            <!--/.swiper-slide -->
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
</ng-container>
