<ng-container *ngIf="showCookies">
  <div class="footer-modal position-fixed d-flex justify-content-center w-100">
    <div class="footer-modal__content col-lg-6 col-11">
      <div class="modal-body p-6">
        <div class="row" *transloco="let t">
          <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center">
            <h4 class="mb-2">
              {{ t("COOKIE_MODAL.TITLE") }}
            </h4>
            <p class="mb-0">
              {{ t("COOKIE_MODAL.DESCRIPTION") }}
              <app-link 
                [title]="t('COOKIE_MODAL.LINK')"
                [href]="routesEnum.Cookies"
                [external]="false"
                [targetBlank]="false">
              </app-link>
            </p>
          </div>
          <!--/column -->
          <div class="col-md-5 col-lg-4 text-lg-end my-auto">
            <button class="btn btn-primary rounded-pill" aria-label="Close" (click)="closeBanner()">
              {{ t("COOKIE_MODAL.ACCEPT") }}
            </button>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.modal-body -->
    </div>
  </div>
  <!--/.modal-content -->
</ng-container>
