<ng-template #cookieBanner let-modal>
  <div class="modal-content">
    <div class="modal-body p-6">
      <div class="row">
        <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center">
          <h4 class="mb-2">Cookie Policy</h4>
          <p class="mb-0">We use cookies to personalize content to make our site easier for you to use.</p>
        </div>
        <!--/column -->
        <div class="col-md-5 col-lg-4 text-lg-end my-auto">
          <button class="btn btn-primary rounded-pill" aria-label="Close" (click)="closeBanner()">I Understand</button>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!--/.modal-body -->
  </div>
  <!--/.modal-content -->
</ng-template>
