<section class="wrapper bg-light">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
    <h2 class="fs-16 text-uppercase text-muted mb-3">
      {{ data.question }}
    </h2>
    <h3 class="display-4 mb-10 px-lg-14">
      {{ data.answer }}
    </h3>
  </div>
  <!-- /.row -->
  <div class="container pb-15 pb-md-17">
    <div class="nav nav-tabs nav-tabs-bg nav-tabs-shadow-lg d-flex justify-content-evenly nav-justified flex-lg-row flex-column">
      <ng-container *ngFor="let highlight of data?.highligths">
        <div class="col-md-6 col-xl-3">
          <div class="card-body">
            <img [src]="getIconPath(highlight.fields.icon)" class="icon-svg icon-svg-sm mb-3" [alt]="highlight.fields.title"/>
            <h4>
              {{ highlight.fields.title }}
            </h4>
            <p class="mb-2">
              {{ highlight.fields.description }}
            </p>
          </div>
        </div>
        <!--/column -->
      </ng-container>
    </div>
    <!--/.row -->
    <ng-container *ngIf="data.flow">
      <app-work-flow [data]="data.flow.fields">
        <div class="col-lg-6">
          <figure class="rounded shadow-lg">
            <img [src]="data.flow.fields.workflowImage.fields.file?.url" [alt]="data.flow.fields.title"/>
          </figure>
        </div>
      </app-work-flow>
    </ng-container>
  </div>
</section>
<!-- /section -->