<section class="wrapper bg-light">
  <div class="container pt-md-10 pb-10">
    <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17">
      <div *ngIf="data.title" class="d-flex justify-content-center pt-20 pb-7">
        <h1 class="display-1 fs-45 mb-4 px-md-15 px-lg-0">
          {{ data.title }}
        </h1>
      </div>
      <ng-container *ngFor="let highlight of data?.highlights">
        <div class="col-lg-4 col-centered">
          <div class="card shadow-lg fs-15">
            <div class="card-body"
              [ngClass]="{ 'centered-card-content': data.centered }">
              <img [src]="getIconPath(highlight.fields.icon)" class="icon-svg icon-svg-sm mb-3" [alt]="highlight.fields.title"/>
              <h4>
                {{ highlight.fields.title }}
              </h4>
              <p class="mb-2" 
                [ngClass]="{ 'text-center': data.centered }">
                {{ highlight.fields.description }}
              </p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
      </ng-container>
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
