<li class=" dropdown-submenu dropstart">
  <a class="dropdown-item">
    {{ data.title }} &laquo;
  </a>
  <ul class="dropdown-menu">
    <ng-container *ngFor="let link of data.links">
      <li>
        <app-link
          [href]="link.fields.href"
          [targetBlank]="link.fields.targetBlank"
          [external]="link.fields.external"
          className="dropdown-item">
          {{ link.fields.title }}
        </app-link>
      </li>
    </ng-container>
    <ng-container *ngFor="let subdropdown of data.subdropdowns">
      <li>
        <app-dropdown [data]="subdropdown.fields">
        </app-dropdown>
      </li>
    </ng-container>
  </ul>
</li>