<div class="container">
  <div class="row gx-0 justify-content-center">
    <div class="col-xl-8">
      <ng-container *ngFor="let legalEntry of data?.legalEntries">
        <section class="wrapper py-10">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">
                {{ legalEntry.fields.title }}
              </h2>
              <div [innerHTML]="getRichTextAsHtml(legalEntry.fields.body)">
              </div>
              <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                <ng-container *ngFor="let checkPoint of legalEntry.fields.checkPoints">
                  <li>
                    <span>
                      <i class="uil uil-check">
                      </i>
                    </span>
                    <span>
                      {{ checkPoint }}
                    </span>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
</div>
