<div class="container pb-15 pb-md-17">
  <div class="tab-content mt-6 mt-lg-8">
    <div class="row gx-lg-8 gx-xl-12 gy-10 d-flex align-items-center justify-content-center">
      <figure class="rounded mb-4 mb-md-6 col-lg-7">
        <img [src]="data.image?.fields?.file?.url" [alt]="data.image?.fields?.file?.fileName"/>
      </figure>
      <!--/column -->
      <div class="col-lg-5 d-flex justify-content-center">
        <ng-container *ngFor="let card of data?.cards">
          <div class="col-2 col-centered">
            <img [src]="getIconPath(card.fields.icon)" class="icon-svg icon-svg-sm mb-3" [alt]="card.fields.title"/>
          </div>
          <div class="col-lg-5 col-centered">
            <div class="card-body">
              <h4>
                {{ card.fields.title }}
              </h4>
              <p class="mb-2">
                {{ card.fields.description }}
              </p>
            </div>
            <!--/.card-body -->
            <!--/.card -->
          </div>
          <!--/column -->
        </ng-container>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>